{% extends "review/layout.html" %}
{% load static %}

{% block body %}
    <style>
    body {
        font-family: "Rubik", sans-serif;
        background-color: rgb(240, 240, 240);
    }
    </style>
    <div id="edit_url" style="display: none">{{ edit_drawing.url }}</div>
    <div id="edit_id" style="display: none">{{ edit_drawing.id }}</div>
    <div id="canvas-container">
        <div id="tools-container">
            <div class="brush-range">
                <img src="https://www.autodraw.com/assets/images/stroke-width.svg">
                <input id="thickness-range" type="range" min="1" max="70" step="1" value="5">
            </div>
            <input id="color" type="color">
            <img class="buttons icons" id="fill" width="48" height="48" src="https://www.autodraw.com/assets/images/icons/tools/bucket.svg">
            <img class="buttons icons" id="line-activate-button" width="48" height="48" src="https://www.autodraw.com/assets/images/icons/tools/pencil.svg" alt="sign-up"/>
            <img class="buttons icons" id="shapes-button" width="48" height="48" src="https://www.autodraw.com/assets/images/icons/tools/shape.svg" alt="external-shapes-graphic-design-icongeek26-outline-icongeek26"/>
            <div class="shapes">
                <img class="buttons icons" id="circle-activate-button" width="48" height="48" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Circle_-_black_simple.svg" alt="circle-thin--v1"/>
                <img class="buttons icons" id="rect-activate-button" width="48" height="48" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Rectangle_%28plain%29.svg" alt="rectangle-stroked"/>
            </div>
            <img id="undo" class="buttons icons" width="48" height="48" src="https://www.autodraw.com/assets/images/icons/tools/undo.svg" alt="undo--v1"/>
            <img id="clear" class="buttons icons" width="48" height="48" src="https://www.autodraw.com/assets/images/icons/tools/delete.svg" alt="filled-trash"/>
        </div>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'review/script.js' %}"></script>
{% endblock %}